@media (min-width: 2000px) {
  .main {
    max-width: 1800px;   }
  body {
    font-size: clamp(1rem, 1.5vw, 1.25rem); 
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

