.footer,
.top-link {
  font-size: var(--footersize);
  color: var(--secondary);
}

.footer {
  margin: auto;
  padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
  text-align: center;
  line-height: 20px; /* 1.25rem */
  background: var(--code-bg);
  font-family: 'Red Hat Text', sans-serif;
}

.footer span {
  margin-inline-start: 1px; /* 0.0625rem */
  margin-inline-end: 1px; /* 0.0625rem */
}

.footer span:last-child {
  white-space: nowrap;
}

.footer a {
  color: var(--secondary);
}

.footer a:hover {
  border-bottom: 2px solid var(--darkcolor); /* 0.125rem */
}

.top-link {
  visibility: hidden;
  position: fixed;
  bottom: 60px; /* 3.75rem */
  right: 30px; /* 1.875rem */
  z-index: 99;
  background: var(--tertiary);
  width: 42px; /* 2.625rem */
  height: 42px; /* 2.625rem */
  padding: 12px; /* 0.75rem */
  border-radius: 64px; /* 4rem */
  transition: visibility 0.5s, opacity 0.8s linear;
}

.top-link,
.top-link svg {
  filter: drop-shadow(0px 0px 0px var(--theme));
}

.footer a:hover,
.top-link:hover {
  color: var(--secondary);
}

.top-link:focus,
#theme-toggle:focus {
  outline: 0;
}