.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 100%; 
    line-height: var(--header-height);
    background: #3498db;
    position: fixed;
    z-index: 1000;
}

.nav a {
    display: block;
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: var(--headersize);
    color: var(--primary);
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 20px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: var(--headersize);
    font-weight: 400;
    color: var(--darkcolor);
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu .active {
    border-bottom: 2px solid var(--darkcolor);
}

#menu-nav {
    display: none; 
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

.hamburger {
    display: none; 
}

@media (pointer: coarse), (max-width: 768px) {

    .header, .nav {
    position: fixed;  
    top: 0;           
    left: 0;
    width: 100%;
    z-index: 1000;     
    background-color: #3498db;  
    }
    
    body {
    margin-top: 60px; 
    }

    body.menu-open {
    padding-top: 90px; 
    }

    .main-content {
    margin-top: 60px;
    }

    #menu {
        display: none;
    }

    #menu-nav {
        display: none;
        position: fixed;
        top: 40px; 
        width: 100%;
	max-width: 100%;
        background-color: #3498db;
        flex-direction: column;
        z-index: 10;	
    }

    #menu-nav li {
        display: flex;
	text-align: left;
	margin: auto var(--gap);
    }

    #menu-nav a {
        display: block;
        color: var(--darkcolor);
        text-decoration: none;
        font-size: var(--headersize);
	text-align: left;	
    }

    #menu-nav a:hover {
        background-color: var(--highlight-color); 
    }

    #menu-nav .active {
    border-bottom: 2px solid var(--darkcolor);
    }

    #menu-nav.show {
    display: flex;
    }

    .hamburger {
        display: flex;    
	flex-direction: column;
    	justify-content: space-around;
	margin: auto var(--gap);
	margin-left: auto;
        width: 25px;
        height: 25px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: var(--primary);
    border-radius: 5px;
    }
}

@media (pointer: coarse), (max-width: 400px) {
    .hamburger {
        width: 20px;
        height: 20px;
    }
}

@media (pointer: coarse), (max-width: 320px) {
    .hamburger {
        width: 20px;
        height: 20px;
        display: flex;
        margin: auto var(--gap);
    }
}

