.buttons,
.main .profile {
    display: flex;
    justify-content: left;
}
.main .profile {
    margin-top: 0;
    align-items: center;
    min-height: 50vh;
    font-size: var(--homesize);
    line-height: var(--lineheight);
    font-family: 'Red Hat Text', sans-serif;
}

/* Up to 768px */
@media (max-width: 768px) {
    .main .profile {
        margin-top: 1em; 
        min-height: 30vh;
        margin-bottom: 2rem;
    }
}

/* From 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .main .profile {
        margin-top: 1em; 
        min-height: 30vh;
        margin-bottom: 1rem;
    }
}

/* From 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .main .profile {
        margin-top: 1em; 
        min-height: 30vh;
        margin-bottom: 1rem;
    }
}

/* iPad Pro specific */
@media (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
    .main .profile {
        margin-bottom: 1rem;        
        min-height: 30vh;
    }
}

/* Surface Pro specific */
@media (min-width: 912px) and (max-width: 912px) {
    .main .profile {
        margin-top: 1em;
        margin-bottom: 0.5rem; /* Riduce lo spazio in basso */
        min-height: 35vh; /* Adatta l'altezza minima */
    }
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-family: 'Petrona', serif;
    font-variant: small-caps;
    font-size: 22px;
    font-weight: bold;
}

.profile .profile_inner h1 {
    font-size: 40px;
    font-family: 'Petrona', serif;
    letter-spacing: 0.5px;
    font-variant: normal;
    transform: translateY(0.5rem);
}

.profile img {
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
}

.button {
    #background: var(--tertiary);
    background: transparent;
    border: 1.6px solid var(--darkcolor);
    color: var(--darkcolor);
    border-radius: var(--radius);
    margin: 8px 16px 8px 0px;
    padding: 3px;
    transition: transform 0.1s;
    font-family: 'Red Hat Text', sans-serif;
}

.button-inner {
    padding: 0 8px;
}

.button:hover {
    background: var(--darkcolor);
    outline: 1.5px solid var(--darkcolor);
    color: white;
    cursor:pointer;
}