.buttons,
.main .profile {
    display: flex;
    justify-content: left;
}
.main .profile {
    margin-top: 0;
    align-items: center;
    min-height: 50vh;
    font-size: var(--homesize);
    line-height: var(--lineheight);
    font-family: 'Red Hat Text', sans-serif;
}

@media (max-width: 1023px) {
    .main .profile {
        min-height: 50vh;
        margin-bottom: 3rem;     
    }
}

@media (max-width: 768px) {
    .main .profile {
        min-height: 30vh; 
        margin-bottom: 2rem;     
    }
}

@media (min-width: 767px) and (max-width: 1025px) {
    .main .profile {
        min-height: 20vh; 
        margin-bottom: 1rem; 
    }
}

@media (max-width: 1366px) and (min-width: 820px) {
    .main .profile {
        min-height: 40vh; 
        margin-bottom: 1rem; 
    }
}

@media (max-width: 1280px) and (min-width: 853px) {
    .main .profile {
        min-height: 30vh; 
        margin-bottom: 1rem; 
    }
}

@media (max-width: 1024px) and (min-width: 600px) {
    .main .profile {
        min-height: 40vh; 
        margin-bottom: 1rem; 
    }
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-family: 'Petrona', serif;
    font-variant: small-caps;
    font-size: 22px;
    font-weight: bold;
}

.profile .profile_inner h1 {
    font-size: 40px;
    font-family: 'Petrona', serif;
    letter-spacing: 0.5px;
    font-variant: normal;
    transform: translateY(0.5rem);
}

.profile img {
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
}

.button {
    #background: var(--tertiary);
    background: transparent;
    border: 1.6px solid var(--darkcolor);
    color: var(--darkcolor);
    border-radius: var(--radius);
    margin: 8px 16px 8px 0px;
    padding: 3px;
    transition: transform 0.1s;
    font-family: 'Red Hat Text', sans-serif;
}

.button-inner {
    padding: 0 8px;
}

.button:hover {
    background: var(--darkcolor);
    outline: 1.5px solid var(--darkcolor);
    color: white;
    cursor:pointer;
}