.terms-tags li {
    display: inline-block;
    margin: 0.625rem; /* 10px */
    font-weight: 400;
}

.terms-tags a {
    display: block;
    padding: 0.1875rem 0.625rem; /* 3px 10px */
    background: var(--tertiary);
    border-radius: 0.375rem; /* 6px */
    transition: transform 0.1s;
    font-size: var(--homesize);
}

.terms-tags a:hover {
    background: var(--lightcolor);
}
